body {
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 12px;
	padding: 0 !important;
	margin: 0;
	font-size: 12px;
	background-color: #f1f1f1;
}

input,select,textarea,button,.ui-widget,.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button
	{
	font-family: "Helvetica", "Arial", sans-serif :              
	              font-size :                             12px !important
}

.ui-widget-header,.ui-widget-content,.ui-widget-header .ui-widget-header,.ui-widget-content .ui-widget-content
	{
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 12px !important
}

.ui-menu .ui-menuitem-link {
	width: 115%
}

.ui-chkbox .ui-chkbox-label {
	margin: 3px
}

.ui-selectmanycheckbox label {
	margin-left: 1px;
	margin-top: auto
}

.ui-selectoneradio label {
	margin-left: 1px
}

.ui-datatable thead th,.ui-datatable tbody td,.ui-datatable tfoot td {
	white-space: normal
}

.ui-datatable .ui-sortable-column-icon {
	margin: 0 -10px 0 0 !important
}

div#contentWrapper {
	padding: 0px;
	min-width: 1200px;
}

/* header */
.header-bar {
	background: transparent url(../resources/images/header_background.png)
		repeat-x scroll left top;
	width: 100%;
}

/** login panel*/
div.loginPanelWrapper {
	background-color: #ececec;
	border-bottom: 1px solid #BABEC2;
	box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.22);
	height: 40px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3) !important;
}

#loginWrapper .fixedPosition {
	position: fixed;
	top: 0;
}

.loginPanelLeft {
	float: left;
	width: 50%;
}

.loginPanelRight {
	float: right;
	width: 50%;
	text-align: right;
	padding: 0px 0px;
}

div.loginPanel {
	width: 1200px;
	overflow: auto;
	margin: 0 auto;
	padding: 0px;
	text-align: left;
}

.fixed-element {
	padding-top: 5px;
	position: fixed;
	z-index: 3000;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 1300px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3) !important;
}

ul.loginList {
	list-style: none outside none;
	padding: 0px 0px;
	margin: 0px 0px;
}

.loginList li {
	display: block;
	float: right;
	padding: 5px 5px;
	color: #666666;
}

.loginList .link {
	margin: 5px 0px 0px 0px;
}

.loginList .separator {
	width: 1px;
	background-color: #C6C6C6;
	display: block;
	float: right;
	height: 15px;
	margin: 8px 3px 0px 3px;
	padding: 3px 0px 0px 0px;
}

.loginList .button {
	border: 1px solid #C6C6C6;
	border-radius: 2px 2px 2px 2px;
	padding: 4px 5px;
	font-weight: bold;
	margin: 5px 0px 0px 0px;
}

.loginList .social {
	margin: 1px 0px 0px 0px;
}

/* navigation*/
.navbar {
	width: 1200px;
	margin: auto;
	height: 40px;
}

.nav {
	list-style: none outside none;
	display: block;
	float: left;
	left: 0;
	margin: 0 10px 0 0;
	position: relative;
	padding-left: 5px;
}

.nav>li {
	display: block;
	float: left;
	line-height: 18px;
}

.nav>li>a {
	color: #999999;
	float: none;
	line-height: 19px;
	padding: 10px 10px 10px 10px;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	display: block;
	font-size: 14px;
}

.nav>li.active>a {
	background-color: #222222;
	color: #FFFFFF;
	text-decoration: none;
}

.navbar .divider-vertical {
	background-color: #2d2d2d;
	border-right: 1px solid #333333;
	height: 40px;
	margin: 0px;
	overflow: hidden;
	width: 1px;
}

/**  main content*/
.mainContent {
	width: 1200px;
	margin: 10px auto;
	min-height: 500px;
}